*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a, a:link, a:visited{
text-decoration: none;
outline: none;
border: none;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;  
}

input,select, textarea{
    outline: none;
}
section, span, p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background:url(header.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.header::before{
    content: '';
    background: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
}

.header-logo{
    z-index: 9999;
}
.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 1170px;
    position: fixed;
    z-index: 9999;
}
.header-navbar::before{
    content: '';
    background: rgb(107, 107, 107);
    opacity: 0.5;
    width: 1270px;
    height: 50px;
    position: absolute;
    margin-left: -100px;
    border-radius: 8px;
    margin-bottom: px;
}



ul{
    display: flex;
}
li{
    margin-left: 25px;
    z-index: 99999;

}


a{
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50px;
    padding: 10px;
    

}
a:hover{
    background-color: black;
    color: white;
    padding: 6px 10px;
    
    
    
    
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -70px;
}
h1{
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 2px;

}


/* ABOUT */
.about{
    margin-bottom: 0x;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    background: rgb(219,227,230);
    background: linear-gradient(176deg, rgba(219,227,230,1) 0%, rgba(146,145,143,1) 100%);
    position: relative;
}

.about::before{
    content: '';
    background: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
}

.about-title{
    padding-top: 40px;

}

.about-title h2{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 6000;

}
.about-title h2::after{
    content: "";
    width: 100px;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    display: block;
    margin-top: 7px;
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

.about-img {
    width: 22%;
   
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text{
    width: 40%;
}

.about-text h4{
    margin-bottom: 25px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0.5rem;
    font-weight: 100;
}
/* DATA */
#data{
    background: url(data.jpg);
    margin-bottom: 0x;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;

}

#data::before{
    content: '';
    background: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
}

.api-title{
padding-top: 80px;
}

.api-title h2{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 6000;
}

.api-title h2::after{
    content: "";
    width: 120px;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    display: block;
    margin-top: 7px;
}

.api-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 250px;
    
}

.api-text{
    width: 40%;
    position: absolute;
    margin-left: 600px;
}

.api-text p{
    margin-bottom: 25px;
    text-align: center;
    /* font-size: 60px; */
    /* letter-spacing: 0.5rem; */
    font-weight: 100;
}

/* CONTACT */

#contact{
    margin-bottom: 0x;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    /* background: rgb(219,227,230);
    background: linear-gradient(176deg, rgba(219,227,230,1) 0%, rgba(146,145,143,1) 100%); */
    background: #bccad6;
    position: relative;
}

#contact::before{
    content: '';
    position:absolute;
    background: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    z-index: 9999;

}

.contact-content{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title{
    padding-top: 50px;
    }
    
.title h2{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 30px;
        font-weight: 6000;
    }

.title h2::after{
        content: "";
        width: 120px;
        height: 3px;
        background-color: black;
        margin: 0 auto;
        display: block;
        margin-top: 7px;
}
.contact-left{
position: relative;
margin-left: 60px;
margin-top: 60px;
margin-right: 60px;
}

.contact-left h3{
font-size: 16px;
font-weight: 400;
letter-spacing: 0.05rem;
text-transform: uppercase;
margin-bottom: 30px;

}
.contact-right{
    width: 70%;
    margin-top: 50px;
    z-index: 99999;
}
form{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    
}

.contact-form input{
    width: 360px;
    height: 50px;
    background: rgb(157, 182, 190);   
    border-radius: 8px;
    border: 1px;
    box-shadow: 0 2px 4px rgb(0 0 0/10%), 0 8px 16px rgb(0 0 0/10%);
    margin: 5px;
}

.buton{
    cursor: pointer;

}